#weight{
    font-size: 30px;
}
#height{
    font-size: 30px;
}
.btn{
    font-size: 30px;
}
.btn{
    background-color:rgb(5, 15, 14);
    border-radius: 100px;
    color: aliceblue;
    padding: 10px 5px;
}

#container{
    background-color: gray;
    color: bisque;
    height: 100vh;
    padding-top: 3em;
}

input{
    border-radius: 10px ;
}
#container h4{
    margin-top: 1em;
}
#container h1{
    margin-top: 2em;
    color:bisque;
}

form{
    border: 2px;
}